-- =================================================================
--  SCRIPT PER CANCELLARE TUTTI I DATI DALLE TABELLE OMNIRIDE
--  Mantiene la struttura delle tabelle, cancella solo i dati
--  L'ordine è importante per rispettare i vincoli di foreign key
-- =================================================================

-- Disabilita temporaneamente i controlli delle foreign key
SET FOREIGN_KEY_CHECKS = 0;

-- Cancellazione dati in ordine inverso rispetto alle dipendenze
DELETE FROM `Orario_Giorni`;
DELETE FROM `Orario_Tratta`;
DELETE FROM `Unica_Tratta`;
DELETE FROM `Fermata_Tratta`;
DELETE FROM `Tratta`;
DELETE FROM `Fermata`;
DELETE FROM `Azienda`;

-- Riabilita i controlli delle foreign key
SET FOREIGN_KEY_CHECKS = 1;

-- Reset degli AUTO_INCREMENT per ripartire da 1
ALTER TABLE `Orario_Giorni` AUTO_INCREMENT = 1;
ALTER TABLE `Orario_Tratta` AUTO_INCREMENT = 1;
ALTER TABLE `Unica_Tratta` AUTO_INCREMENT = 1;
ALTER TABLE `Fermata_Tratta` AUTO_INCREMENT = 1;
ALTER TABLE `Tratta` AUTO_INCREMENT = 1;
ALTER TABLE `Fermata` AUTO_INCREMENT = 1;
ALTER TABLE `Azienda` AUTO_INCREMENT = 1;

-- Verifica che tutte le tabelle siano vuote
SELECT 'Azienda' as tabella, COUNT(*) as record_count FROM `Azienda`
UNION ALL
SELECT 'Fermata' as tabella, COUNT(*) as record_count FROM `Fermata`
UNION ALL
SELECT 'Tratta' as tabella, COUNT(*) as record_count FROM `Tratta`
UNION ALL
SELECT 'Fermata_Tratta' as tabella, COUNT(*) as record_count FROM `Fermata_Tratta`
UNION ALL
SELECT 'Unica_Tratta' as tabella, COUNT(*) as record_count FROM `Unica_Tratta`
UNION ALL
SELECT 'Orario_Tratta' as tabella, COUNT(*) as record_count FROM `Orario_Tratta`
UNION ALL
SELECT 'Orario_Giorni' as tabella, COUNT(*) as record_count FROM `Orario_Giorni`;

-- =================================================================
--  RISULTATO ATTESO:
--  Tutte le tabelle dovrebbero mostrare 0 record
--  Gli AUTO_INCREMENT sono stati resettati a 1
--  La struttura delle tabelle rimane intatta
-- =================================================================